@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    
    
}

main{
    width: 250px;
    margin-top: 30px;
}

#imagem{
    background-image: url(../imagens/metal.jpg);
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 200px;
}

#formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aliceblue;
}

.campo{
    margin-top: 5px;
    background-color: blueviolet;
    width: 220px;
    height: 40px;
    border-radius: 10px;
} 

#idemail{
    margin-top: 2px;
    height: 35px;
    border-radius: 10px;
    border: none;
    width: 181px;
    font-size: 1.1em;
    background-color: #a9ffe2;
}

#idsenha{
    margin-top: 2px;
    height: 35px;
    border-radius: 10px;
    border: none;
    width: 181px;
    font-size: 1.1em;
    background-color: #a9ffe2;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 30px;
}
.botoes>input{
    background-color: rgb(3, 84, 57);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    width: 220px;
    height: 40px;


}

.botoes>a{
    background-color: rgb(3, 84, 57);
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 5px;
    width: 220px;
    height: 40px;
}
